@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lancelot);

#game-container {
    width: 800px;
    height: 600px;
    margin: 40px auto;
    background-color: #FFC373;
    position: relative;
    overflow: hidden;
    font-family: 'Lancelot', cursive;
    font-size: 14pt;
    color: #4B3800;
    text-align: center;
}

body {
    padding-bottom: 40px;
    padding-top: 20px;
    font: normal 62.5% Verdana, Arial, Helvetica, sans-serif;
    color: #ccc;
    background-color: black;
}

#game-container h1, #game-container h2, #game-container h3, #game-container h4 {
    font-family: 'Averia Serif Libre', cursive;
}

#game-container input[type=text] {
    background-color: #FFE1B8;
}

#game-container a, #game-container a.btn, #game-container .btn-group>a.btn {
    font-size: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

#game-container .hidden {
    visibility: hidden;
}

#game-container .off {
    margin-left: 800px;
    opacity: 0;
}
    #game-container .off.noswing {
        margin-left: 0;
    }

#game-container .fading-in {
    margin-left: 0;
    opacity: 1;
}



#game-container .header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Averia Serif Libre', cursive;
    margin-top: 40px;
    float: left;
    width: 100%;
}
    #game-container .header.docked {
        margin-top: 10px;
        width: 50%;
    }
    #game-container .header h1 {
        margin-bottom: 0;
    }
    #game-container .header h4 {
        font-style: italic;
        margin: 0;
    }

#game-container .header-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    margin: 10px 0 20px 0;
    height: 70px;
}
    #game-container .header-right h3 {
        line-height: 50px;
    }

#game-container .intro-title {
    clear: both;
    margin: 30px auto 0 auto;
}

#game-container .intro {
    clear: both;
    float: left;
    width: 100%;
}
    #game-container .intro .intro-features {
        text-align: left;
        width: 600px;
        margin: 30px auto;
        padding: 30px 0;
    }

#game-container .progress-completed {
    width: 100%;
    float: left;
    background-color: #DAA762;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 120%;
    font-family: 'Averia Serif Libre', cursive;
}
    #game-container .progress-completed .bar {
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #BA8E54;
    }
    #game-container .progress-completed .text {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

#game-container .steps-holder {
    clear: both;
    display: none;
    position: relative;
    width: 800px;
    height: 410px;
}
    #game-container .steps-holder .step-basic {
        position: absolute;
        width: 800px;
        height: 100px;
        overflow: hidden;
        top: 145px;
        z-index: 20;
    }
        #game-container .steps-holder .step-basic.statsmode {
            height: 350px;
            top: 30px;
        }
        #game-container .steps-holder .step-basic .stats-holder {
            width: 500px;
            margin-left: 150px;
            padding-top: 20px;
            float: left;
        }
            #game-container .steps-holder .step-basic .stats-holder label {
                float: left;
                width: 150px;
                font-size: 140%;
                height: 30px;
                line-height: 30px;
                margin-left: 50px;
            }
                #game-container .steps-holder .step-basic .stats-holder label.newline {
                    clear: both;
                    margin-left: 0;
                }
            #game-container .steps-holder .step-basic .stats-holder input {
                float: left;
                width: 50px;
            }
            #game-container .steps-holder .step-basic .stats-holder a.btn {
                margin-top: 20px;
                margin-left: 190px;
                clear: both;
                float: left;
            }

    #game-container .steps-holder .step-basic-sub {
        position: absolute;
        width: 800px;
        height: 100px;
        overflow: hidden;
        top: 145px;
        z-index: 10;
    }
    #game-container .steps-holder .docked {
        transform: translate(0, -130px) scale(0.8);
        -webkit-transform: translate(0, -130px) scale(0.8);
        -moz-transform: translate(0, -130px) scale(0.8);
        -o-transform: translate(0, -130px) scale(0.8);
        -ms-transform: translate(0, -130px) scale(0.8);
    }
    #game-container .steps-holder .game-over {
        position: absolute;
        width: 800px;
        height: 200px;
        top: 100px;
    }
        #game-container .steps-holder .game-over h3 {
            font-weight: normal;
        }
    #game-container .steps-holder .errors {
        position: absolute;
        width: 600px;
        height: 300px;
        top: 100px;
        left: 100px;
    }
        #game-container .steps-holder .errors h3 {
            font-weight: normal;
        }

#game-container .next-step {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #DAA762;
    padding: 10px 0;
}
    #game-container .next-step #give-up-button {
        float: left;
        margin-left: 20px;
    }
    #game-container .next-step .next-section-holder {
        float: right;
        margin-right: 20px;
        margin-left: 0;
    }
        #game-container .next-step .next-section-holder a.off {
            cursor: default;
        }

#game-container .your-answer-holder {
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0;
    text-align: center;
}
    #game-container .your-answer-holder h3 {
        font-weight: normal;
    }
    #game-container .your-answer-holder.saving {
        transform: translate(-350px, -380px) scale(0.1);
        -webkit-transform: translate(-350px, -380px) scale(0.1);
        -moz-transform: translate(-350px, -380px) scale(0.1);
        -o-transform: translate(-350px, -380px) scale(0.1);
        -ms-transform: translate(-350px, -380px) scale(0.1);
        opacity: 0.1;
    }

#game-container .btn-custom {
  background-color: hsl(29, 83%, 18%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed9644", endColorstr="#532c07");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ed9644), to(#532c07));
  background-image: -moz-linear-gradient(top, #ed9644, #532c07);
  background-image: -ms-linear-gradient(top, #ed9644, #532c07);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed9644), color-stop(100%, #532c07));
  background-image: -webkit-linear-gradient(top, #ed9644, #532c07);
  background-image: -o-linear-gradient(top, #ed9644, #532c07);
  background-image: linear-gradient(#ed9644, #532c07);
  border-color: #532c07 #532c07 hsl(29, 83%, 7.5%);
  color: #FFD8A3     !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.69);
  -webkit-font-smoothing: antialiased;
}