@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lancelot);

* {

}

body {
    font-family: 'Lancelot', cursive;
    font-size: 14pt;
    color: #4B3800;
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
    background-color: black;
}

h1, h2, h3, h4 {
    font-family: 'Averia Serif Libre', cursive;
}

a, a.btn, .btn-group>a.btn {
    font-size: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.hidden {
    visibility: hidden;
}

.off {
    
    opacity: 0;
}

.fading-in {
    
    opacity: 1;
}

.container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: #FFC373;
    position: relative;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Averia Serif Libre', cursive;
    margin-top: 40px;
    float: left;
    width: 100%;
}
    .header.docked {
        margin-top: 10px;
        width: 50%;
    }
    .header h1 {
        margin-bottom: 0;
    }
    .header h4 {
        font-style: italic;
        margin: 0;
    }

.header-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    margin: 10px 0 20px 0;
    height: 70px;
}

.intro-title {
    clear: both;
    margin: 30px auto 0 auto;
}

.intro {
    clear: both;
    float: left;
    width: 100%;
}
    .intro .intro-features {
        text-align: left;
        width: 600px;
        margin: 30px auto;
        padding: 30px 0;
    }

.progress-completed {
    width: 100%;
    float: left;
    background-color: #DAA762;
    padding: 5px 0;
}

.next-step {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #DAA762;
    padding: 10px 0;
}
    .next-step #give-up-button {
        float: left;
        margin-left: 20px;
    }
    .next-step .next-section-holder {
        float: right;
        margin-right: 20px;
    }

.your-answer-holder {
    width: 100%;
    position: absolute;
    bottom: 50px;
    padding: 0;
    text-align: center;
}
    .your-answer-holder h3 {
        font-weight: normal;
    }
    .your-answer-holder.saving {
        -webkit-transform: translate(200px, -490px) scale(0.1);
        opacity: 0.1;
    }

.btn-custom {
  background-color: hsl(29, 83%, 18%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed9644", endColorstr="#532c07");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ed9644), to(#532c07));
  background-image: -moz-linear-gradient(top, #ed9644, #532c07);
  background-image: -ms-linear-gradient(top, #ed9644, #532c07);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed9644), color-stop(100%, #532c07));
  background-image: -webkit-linear-gradient(top, #ed9644, #532c07);
  background-image: -o-linear-gradient(top, #ed9644, #532c07);
  background-image: linear-gradient(#ed9644, #532c07);
  border-color: #532c07 #532c07 hsl(29, 83%, 7.5%);
  color: #FFD8A3     !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.69);
  -webkit-font-smoothing: antialiased;
}